div#vtcontainer div#ui div#space div#container-space a.left {
    position: absolute;
    left: 1%;
    top: 7%;
    height: 66%;
    width: 18%;
    z-index: 1000;
}

div#vtcontainer div#ui div#space div#container-space div#screen {
    position: relative;
    margin-top: -8.1%;
    margin-left: 13.6%;
    width: 41.3%;
    height: 41.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: transparent;
}

div#vtcontainer div#ui div#space div#container-space div#screen div.login {
    width: 100%;
    height: 100%;
    background-image: url(../../../images/sala/texture.jpg);
}

div#vtcontainer div#ui div#space div#container-space div#screen div.waiting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/sala/texture.jpg);
}

div#vtcontainer div#ui div#space div#container-space div#screen div.waiting img.waiting.title {
    width: 40% !important;
    height: auto !important;
    margin-top: 3%;
}

div#vtcontainer div#ui div#space div#container-space div#screen div.waiting img.waiting.logo {
    width: 15% !important;
    height: auto !important;
    margin-top: 3%;
}

div#vtcontainer div#ui div#space div#container-space div#screen div.waiting span {
    max-width: 70%;
    text-align: center;
}

div#vtcontainer div#ui div#space div#container-space div#screen div.login form img {
    width: 40% !important;
    margin-top: 5%;
}

div#vtcontainer div#ui div#space div#container-space div#screen form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#vtcontainer div#ui div#space div#container-space div#screen span {
    font-size: 16pt;
    font-weight: 800;
    color: var(--purple);
    margin-top: 5%;
}

div#vtcontainer div#ui div#space div#container-space div#screen form input[type=email] {
    width: 80%;
    padding: 5px 10px;
    font-size: 12pt;
    margin-top: 2%;
    border: 3px solid #F7C13E;
    background-color: #f7c03e48;
    border-radius: 10px;
    text-align: center;
}

div#vtcontainer div#ui div#space div#container-space div#screen form input[type=submit] {
    background-color: var(--purple);
    color: white;
    font-size: 15pt;
    font-weight: 600;
    margin-top: 3%;
    padding: 0 8px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 15px 37px 1px rgba(101, 34, 143, 0.64);
    -moz-box-shadow: 2px 15px 37px 1px rgba(101, 34, 143, 0.64);
    box-shadow: 2px 15px 37px 1px rgba(101, 34, 143, 0.64);
    cursor: pointer;
}

div#vtcontainer div#ui div#space div#container-space span#banner {
    position: absolute;
    margin-top: -29.4%;
    margin-left: 13.6%;
    width: 41.3%;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: var(--purple);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

div#vtcontainer div#ui div#space div#container-space div#screen img,
div#vtcontainer div#ui div#space div#container-space div#screen iframe {
    position: unset !important;
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
    z-index: 1000;
}


/* CONTROLES */

div#vtcontainer div#ui div#space div#container-space div#controls {
    z-index: 1000;
    position: absolute;
    right: calc((-30% - 4rem - 4px));
    width: 30%;
    height: 70%;
    background-color: white;
    padding: 2rem;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid var(--purple);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -mos-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

div#vtcontainer div#ui div#space div#container-space div#controls.active {
    right: -3px;
}

div#vtcontainer div#ui div#space div#container-space div#controls button {
    position: absolute;
    left: -87px;
    font-weight: 600;
    top: 15%;
    font-size: 16pt;
    background-color: var(--purple);
    border-radius: 10px 10px 0px 0px;
    color: white;
    transform: rotate(270deg);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

table,
td,
th {
    border: 2px solid var(--purple);
    text-align: center;
}

th {
    color: var(--purple);
}

div#vtcontainer div#ui div#space div#container-space div#controls div {
    height: 100%;
    width: 100%;
    overflow: auto;
}

div#vtcontainer div#ui div#space div#container-space div#controls div table {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    border-collapse: collapse;
    cursor: pointer;
}

div#vtcontainer div#ui div#space div#container-space div#controls div table tr.active {
    background-color: greenyellow;
}

@media only screen and (max-height: 500px) {
    div#vtcontainer div#ui div#space div#container-space div#screen span {
        font-size: 9pt;
    }
    div#vtcontainer div#ui div#space div#container-space div#screen form input[type=email] {
        font-size: 9pt;
    }
    div#vtcontainer div#ui div#space div#container-space div#screen div.login form img {
        display: none;
    }
    div#vtcontainer div#ui div#space div#container-space div#screen form input[type=submit] {
        font-size: 9pt;
    }
    div#vtcontainer div#ui div#space div#container-space div#screen form {
        height: 100%;
    }
    #vtcontainer div#ui div#space div#container-space span#banner {
        margin-top: -26.8% !important;
    }
}

button#salir {
    width: 80px;
    height: 20px;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    z-index: 100000000;
    cursor: pointer;
}

div#container-space a.toggle img {
    position: fixed;
    width: 210px;
    z-index: 1000;
    bottom: 2vh;
}

div#container-space a.toggle.out img {
    left: 5px;
}

@media only screen and (max-width: 1000px) {
    div#container-space a.toggle img {
        width: 140px;
    }
}